@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap');

:root {
    --dark-gray: rgb(43, 45, 66);
    --dark-gray2:rgb(31, 31, 39);
    --middle-gray: rgb(141, 153, 174);
    --light-gray: rgb(226, 218, 221);
    --light: rgb(247, 246, 246);
    --middle-tomato: rgba(239, 35, 59, 0.624);
    --dark-tomato: rgba(217, 4, 39, 0.937);
    --light-tomato:rgba(241, 108, 131, 0.089);
    --font-color: rgb(95, 92, 92);
    --transition: all 1s ease-in-out;
    --radius: 8px;
    --semi-radius: 0px 0px 8px 8px;
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --bs-card-color:rgb(95, 92, 92);
}
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color:var(--light-tomato) ;
}

a{
    text-decoration: none;
}

/** Section Header */
header {
    background-color: var(--dark-tomato);
    border-radius: var(--semi-radius);
    filter: contrast(1.1);
}

header nav div a img{
    /* width:8rem; */
    border: 1px solid var(--middle-gray);
    border-radius: var(--radius);
    box-shadow: -10px 10px 10px var(--dark-gray2);
    display: none;
}

header nav div h1 {
    color: var(--light);
    font-size: 1.3rem;
    font-family: var(--font);
    text-align: center;
}

.navbar-toggler {
    box-shadow: -2px 5px 5px var(--dark-gray2);
    background-color: var(--light) !important;
    font-size: 1rem;
    margin: 1rem;
}

.navbar-nav .nav-link{
    color: var(--light);
    font-weight: 600;
}

.nav-link:hover{
    color: var(--dark-gray)
}

/** Section About */
#about h2, 
#ingredients h2, 
#steps h2,
#nutrition h2,
#contact h2 {
    text-align: center;
    padding-top: 2rem;
    padding: 1rem 0rem ;
    font-family: cursive;
    color: var(--font-color);
    font-size: 1.2rem;
}

.article-about a{
    text-decoration: none;
    font-weight: 600;
}

.article-about span{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--dark-tomato);
}

.article-about p{
    color: var(--light);
    text-indent: 20px;
    font-family: var(--font);
    text-align:left;
    line-height: 1.5rem;
    font-size: 0.8rem;
    padding: 0 1.2rem;
}

.bground-about{
    background:  linear-gradient(#0f000285, #05050538), url('../assets/img/fondoAbout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: var(--radius);
}

.anchor-class{
    color: var(--dark-tomato);
    font-size: 1.2rem;
    font-family: cursive;
}

.anchor-class:hover{
    color: var(--light);
}



/** Section Ingredientes */
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--middle-gray);
    background-color: var(--light);
    filter: contrast(1.2);
    box-shadow: -2px 2px 2px var(--dark-gray);
    border-radius: 8px;
    color: var(--dark-tomato);
}
.item > img{
    height: 2rem;
    width: 2rem;
    padding:0.1rem 0.1rem;
    object-fit: contain;
}

.item > figcaption{
    font-size: 0.6rem;
    font-weight: 500;
    text-align: center;
    padding: 0.3rem;
}

.list-content {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid var(--middle-gray);
    border-radius: var(--radius);
    background-color: var(--light);
    box-shadow: -2px 2px 2px var(--dark-gray);
    margin-bottom: 2rem;
    align-content:space-between;
    gap: 1rem;
}

.list-content h3, .list-steps h3 {
    color: var(--dark-tomato);
    font-family: var(--font);
    font-size: 0.9rem;
    font-weight: bolder;
    padding-bottom: 0.2rem;
}

.list-content li {
    list-style-type: none;
    color: var(--font-color);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--font-color);
}


/** Section Pasos */
.article-steps{
    padding:0 auto;
}

.video {
    width:100%;
    box-shadow: -2px 2px 2px var(--dark-gray);
}

.list-steps li {
    list-style-type: decimal;
    color: var(--font-color);
    padding-top: 1rem;
}

.card {
    box-shadow: -2px 2px 2px var(--dark-gray);
    transition: var(--transition)
}

.card:hover{
    background: radial-gradient(#f80fe542, #f1edf038);
    transform: scale(1.05);
}

.card-body {
    color: var(--bs-card-color)
}

.card-img-top{
    width:100%;
    height:8rem;
    object-fit: cover;
}

.card-footer{
    background-color: var(--dark-tomato);
    filter: contrast(1.1);
    text-align: end;
}

.card-footer a {
    color: var(--light);
    filter: contrast(1.2);
    font-weight: 600;
}


/** Section Nutrition */
table{
    width: 100%;
}

thead tr th{
    background-color: var(--dark-gray2) !important;
    filter: contrast(1.05);
    color: var(--light) !important;
    width: 25%;
    font-size: 0.7rem;
    vertical-align: middle;
    text-align: center;
}

tbody tr td, tbody tr th {
    height:2rem;
    width: 25%;
    font-size: 0.7rem !important;
    vertical-align: middle;
    text-align: center;
}

.table-hover tbody tr:hover td {
    font-weight: 700;
    background-color: var(--light-tomato);
    color: var(--dark-gray);
}

.table-hover tbody tr:hover th{
    background-color: var(--dark-gray2);
    color: var(--light) !important;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
}

/** Footer */
.footer {
    background-color: var(--dark-gray2);
    filter: contrast(1.2);
    border-radius: var(--radius);
    color: var(--light);
    padding: 20px 0;
}

.footer h4 {
    color: var(--dark-tomato);
}

.footer p {
    font-size: 1rem;
}

.footer a {
    color: var(--middle-gray);
    margin-right: 1rem;
}

.footer a:hover {
    text-decoration: underline 2px;
    
    color: rgb(167, 217, 248);
    font-weight: 500;
}

.footer .container {
    text-align: center;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 1rem;
}

.footer .bi {
    font-size: 1.8rem;
    padding-top: 0.5rem;

}

/** Flecha a Home */
.go-up{
    font-size: 2.5rem;
    display: flex;
    justify-content: right;
}

.go-up .bi{
    color: var(--dark-tomato);
}